:root {
  --font-primary: #56616a;
  --background: #fff;
  --background-left: #0054e0;
  --background-right: #e8edf6;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.verify {
  width: 93rem;
  height: 100vh;
  margin: 0 auto;
  padding: 4rem;
  background-image: linear-gradient(
    to right,
    var(--background-left) 50%,
    var(--background-right) 50%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

.verify__content {
  width: 100%;
  border-radius: 16px;
  background-color: var(--background);
  padding: 7rem 4rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 4px rgba(232, 237, 246, 0.15);
  position: relative;
}

.verify__back {
  position: absolute;
  top: 7rem;
  left: 3rem;
}

.verify__inner {
  max-width: 50rem;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 1.2rem;
  color: #6b6c6f;
}

.verify__title {
  font-size: 2rem;
  font-weight: 700;
  color: #39393e;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.verify__text {
  margin-bottom: 3.5rem;
}

.verify__logo {
  display: block;
  max-width: 27rem;
  margin: 0.5rem auto 4rem;
}

.verify__notice {
  line-height: 1.4;
  margin-bottom: 4rem;
}
.verify__button {
  display: flex;
  align-items: center;
}

.verify__button > * {
  margin-left: 3rem;
}
.btn {
  display: inline-block;
  padding: 1.5rem 3rem;

  border: 1px solid #1245ae;
  border-radius: 12px;

  text-decoration: none;

  font-size: 1.4rem;
}

.btn--primary {
  background-color: #1245ae;
  color: #fff;
}

.btn--outline {
  background-color: #fff;
  color: #1245ae;
}
