.table {
  width: 950px;
  border: 1px solid #f8f9fa;
  box-sizing: border-box;
  margin: 50px auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.table__inner {
  padding: 20px 15px;
}
.table__inner table {
  width: 100%;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
}

.table__inner table th {
  padding: 10px 0px;
  color: #000;
}

.table__inner table td {
  padding: 10px 0px;
  font-size: 14px;
  color: #212529;
}

.table__inner tr:nth-child(even) {
  background-color: #f2f2f2;
}
